.row
  .col-1
  .col-10
    %h2 Conscious Dance Deejays Group

    %h3 Current Situation

    Raisa Kaipainen has taken over running the group at the end of 2019.

    %br/
    If you have a question or comment, you can either mail to the google group (if you
    are a member), or contact Raisa directly on either
    = link_to "facebook" , "https://www.facebook.com/RaisaAndTorsten", :target => "_blank"
    or mail her under raisa at villataika.fi

    %h3 Technical
    In 2016,
    =link_to "Torsten Rüger" , "https://rubydesign.fi/" , :target => "_blank"
    provided a major upgrade, enabling the song database to be searched and sorted,
    and automating membership functions.
    %br/
    He is now the technical maintainer again. Issues can be directly added
    into the code respository at
    = link_to "github", "https://github.com/rubydesign/deejays/issues" , taget: "_blank"

    %h3 Founder
    The group was started in 2007 by Zach Pine, a co-organizer of
    %a{:href => " http://soulsanctuarydance.com/", :target => "_blank"} Soul Sanctuary Dance
    ,
    %a{:href => "http://ncdcdances.org/", :target => "_blank"} NCDC Summer Dance Camp
