%h2
  Conscious Dance Deejays Group
  %br/
  Hundreds worldwide share thousands of song suggestions
.row
  .col-xl-10.col-lg-9.col-md-8.col-sm-7.col-xs-6
    %h3 The song database built on giving and getting
    %p
      Since 2007, our group members have added thousands of song suggestions to our searchable and
      sortable database. We share information about each song we suggest, including a link to an
      online sample. Our group is not for sharing music files or music downloading.
      %br/
      %br/
      We agree to only suggest songs that don't promote prejudice, violence, substance abuse, hatred,
      or stereotypes, and that others can readily sample online and purchase.
      %br/
      %br/
      When you
      = succeed "," do
        %a{:href => "/users/sign_up", :target => "/users/sign_up"} sign up
      you are asked to give a song suggestion.
      You then get access to the song database for three months;
      each subsequent time you suggest a song you get a month of access.
      There are no charges and no advertisements.

    %h3 The people and the dances
    %p
      Our group is for people who provide music for freestyle dances, dance jams, ecstatic dances,
      barefoot boogies, healing dances, dance rituals, community dances, contact improvisation,
      Earthdance, 5Rhythms
      %sup> tm
      , Open Floor, Sweat Your Prayers
      %sup> tm
      , Nia,
      Soul Motion
      %sup> tm
      , Body Choir
      %sup> tm
      , Core Connexion,
      Biodanza, or any dance form whose primary aim is to promote freedom of expression and/or positive
      social or individual change.
      %br/
      %br/
      Feel free to invite others by sharing this website with them.
    %h3 Group communication
    %p
      When you
      = succeed "," do
        %a{:href => "/users/sign_up", :target => "/users/sign_up"} sign up
      you are also added to
      our moderated Google group (you can opt out of the Google group at any time).
      Members use the group to make requests for a certain type of song,
      discuss approaches to creating playlists and techniques for live deejaying,
      and offer resource links.

  .col-xl-2.col-lg-3.col-md-4.col-sm-5.col-xs-6
    %img.img-responsive{:src => "#{image_url('d.jpg')}"}/
